.style {
    background-color: lightgray;  
    padding-top: 40px;

}
h1{
    background-color: #1c1b18;
    color: white;
    text-align: center;
    padding: 10px;
}
.contact{
    background-color: white;
    padding: 20px;

    border: solid 2px;
}
.btn{
    margin: 10px;
}
button:hover{
    cursor: pointer;
    transform: translatey(-3px );
    box-shadow: 0 0 6px #a1c3fe;
}

button:active{
    transform: translatey(3px );
    box-shadow: 0 0 0px #a1c3fe;
}

.errors{
    color: red;
    font-weight: bold;
}

.go-result{
    font-weight: bold;   
}


.t-title{
    background-color: white;
    color: black;
    font-weight: bold;
}
.hidden {
    display:none;
} 
.edit{
    background-color: blue;
    font-weight: bold ;
    font-size: 18px;
    border-radius: 3px;
    padding: 5px;
    color: white;

}
